.button {
    cursor: pointer;
    font: inherit;
    border: none;
    padding: 0rem 0.5rem;
    margin-right: 20px;
    align-items: center;
    font-weight: bold;
    padding-top: 1%;
    text-decoration: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
  }
  .button:hover,
  .button:active,
  .button a.active {
    color: #ead1aa;
    background-color: black;
    padding: 0.5rem;
    border-radius: 15px;
  }
  
  
  .pic {
    width: 4rem;
    height: 4rem;
    margin-right: -1%;
    margin-top: -1%;
  }
  a.active {
    color: #ead1aa;
    background-color: black;
    padding: 0.5rem;
    border-radius: 15px;
  }
  