.underline {
  border-bottom: 2px solid rgb(75, 74, 61);
  width: 60%;
  margin: 8% 10% 4% 21%;
  padding: 2%;
  text-align: center;
}

.filter {
  cursor: pointer;
  border: none;
  margin: 1% 6%;
  font-size: large;
  font-weight: bold;
}

.filter:hover {
  color: #ead1aa;
}
