.container {
  margin: 18rem 0 5rem 12rem;
}
.title {
  font-family: "Zilla Slab", serif;
  font-size: 25px;
  font-weight: 600;
  color: gray;
}
.about {
  font-family: "Zilla Slab", serif;
  font-size: 45px;
  font-weight: 600;
  width: 80%;
  margin-left: 10%;
  color: rgb(129, 129, 129);
}
