.form {
  padding: 0 2rem;
  display: flex;
  margin-top: 5rem;
}

.button {
  margin: -0% 1%;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: black;
  color: #ead1aa;
  padding: 1.5rem 3rem;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

.button:hover,
.button:active {
  background-color: #ead1aa;
  color: black;
}
.container {
  width: 50rem;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.form label {
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 30%;
  margin-top: 4%;
}
.form input {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  width: 28%;
  margin-top: 1rem;
}
