.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 45rem;
  border-radius: 6px;
  background-color: black;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  text-align: center;
}

.auth h1 {
  text-align: center;
  color: #f3e2c5;
  margin-bottom: 15%;
}

.control {
  margin-bottom: 2rem;
}

.control label {
  display: block;
  color: #f3e2c5;
  text-align: left;
  font-weight: bold;
  margin-bottom: 2rem;
}

.control input,
.control input:active {
  font: inherit;
  border-radius: 4px;
  border: 2px solid #ead1aa;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
  background-color: #f3eadb;
}

.actions {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  background-color: #ead1aa;
  border: 1px solid #f3e2c5;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: black;
  color: #ead1aa;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;

  border: none;
  color: #f3e2c5;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #f3e2c5;
  border: 1px solid #f3e2c5;
}
